  .subPageBannersec{
      background: linear-gradient( 180deg, var(--primary-color) 0%, var(--accent-color) 134.53%);
  background-size: cover;
min-height: 266px;
padding-top: 129px;
.header-textSubapge{
  text-align: center;
 h1 {
  font-family: var(--font-heading);
  font-size: 48px;
  font-weight: 700;
  color: var(--white-color);
  text-align: center;
       @media (max-width: 767px) {
font-size: 30px;
       }
  strong{
    color: var(--accent-color);
  }
}
ul{
  margin: 0;
  padding: 0;
  display: flex;
  gap:10px;
  align-items: center;
  justify-content: center;
  li{
color: var(--white-color);
font-size: 14px;

a{
color: var(--white-color);
font-weight: 700;
cursor: pointer;
}
  }

}
}

    }




    .ourTeamMainAllBgSec{
  padding: 100px 0px;
    @media (max-width: 992px) {
  padding:40px 0px;
    }
  .centreTxt{
    text-align: center;
    padding-bottom: 40px;
      @media (max-width: 992px) {
padding-bottom: 15px;
      }
    span{
      position: relative;
  display: inline-block;
  font-size: 14px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  line-height: normal;
  color: var(--accent-color);
  padding-left: 16px;
  margin-bottom: 15px;
      @media (max-width: 992px) {
  font-size: 12px;
      }
  &::before{
    content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background: var(--accent-color);
  border-radius: 50%;
  width: 6px;
  height: 6px;
  }
    }
    h3{
      font-size: 49px;
  color: var(--primary-color);
  font-weight: 700;
  font-family: var(--font-heading);
  margin-bottom: 0px;
  text-transform: capitalize;
      @media (max-width: 992px) {
  font-size: 30px;
      }
  strong{
    color: var(--accent-color);

  }
    }
  }

  .team-item-prime{
	position: relative;
	text-align: center;
	display: flex;
	flex-direction: column;
	gap: 70px;
	justify-content: space-between;
	background: var(--secondary-color);
	border-radius: 20px;
	height: calc(100% - 30px);
    margin-bottom: 0px;
	padding: 40px 40px 0;
    overflow: hidden;
}

.team-content-prime h3{
    font-size: 25px;
	text-transform: capitalize;
	color: var(--primary-color);
  font-weight: 700;
  font-family: var(--font-heading);
}

.team-content-prime h3 a{
    color: inherit;
    transition: all 0.4s ease-in-out;
}

.team-content-prime p{
	text-transform: capitalize;
	margin: 5px 0 0;
  font-size: 15px;
  font-weight: 500;
    font-family: var(--font-body);
}

.team-image-prime {
  padding-top: 30px;
  figure{
    margin-bottom: 0px;
  }
img{
    width: 100%;
	max-width: 250px;
    aspect-ratio: 1 / 1.37;
    object-fit: cover;
	border-radius: 20px 20px 0 0;
	margin: 0 auto;
}
}



.team-social-list-prime{
    position: absolute;
    right: 30px;
    bottom: 30px;
    left: 30px;
    transform: translateY(30px);
    text-align: center;
    transition: all 0.4s ease-in-out;
    z-index: 1;
}

.team-item-prime:hover .team-social-list-prime{
    transform: translateY(0);
}

.team-social-list-prime{
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s ease-in-out;
}

.team-item-prime:hover .team-social-list-prime{
    opacity: 1;
    visibility: visible;
}

.team-social-list-prime ul{
	display: flex;
	justify-content: center;
	gap: 10px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.team-social-list-prime ul li a{
	width: 36px;
	height: 36px;
	color: var(--white-color);
	background: var(--primary-color);
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.4s ease-in-out;
}

.team-social-list-prime ul li:hover a{
	background: var(--accent-color);
}

.team-social-list-prime ul li a i{
    font-size: 18px;
    color: inherit;
}

}

.doctorListingGrid{
    display: grid;
    gap:15px;
    grid-template-columns: repeat(4,1fr);
}